body {
    margin-top: -2.5vw;
    min-height: 52vw;
    min-width: 52vw;
    background-color: #cc231e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    
    font-size: 8vw;
    
}

.countdown {
    font-size: 8vw;
    display: flex;
    transform: scale(5);
    font-weight: 2.5vw;
}


.time {
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;

}

.time h2 {
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 1;
    margin: 0 0  5px;
}

@media (max-width:30em) {
h1{
    font-size: 0.5px;
}
.time {
    margin: 5px;
}
.time h2 {
    font-size: 0.5vw;
}
.time small {
    font-size: 0.5vw;
}
    
}


