body {
    margin-top: -2.5vw;
    min-height: 46vw;
    min-width: 52vw;
    background-color: #cc231e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    
    font-size: 8vw;
    
}

.countdown {
    font-size: 8vw;
    display: flex;
    transform: scale(5);
    font-weight: 2.5vw;
}


.time {
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;

}

.time h2 {
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 1;
    margin: 0 0  5px;
}

/* .container {
  width: 100%;
  display: inherit;
  max-width: 1215px;
  justify-content: inherit;
  margin: 0 auto;
  padding: 0px 0px;
}
.footer {
    color: var(--white);
    background-image: linear-gradient(45deg, #118585, #14296bf6);
    padding: 30px;
    text-align: center;
    font-size: 14px;
}
  
.footer a {
    color: var(--white);
}
  
.footer a:hover {
    color: var(--blue);
} */
